#temp {
    font-size: 25px;
    font-weight: bold;
}

#loc {
    font-size: 22px;
    font-style: inherit;
}

div.ui-input-search, #searchCityButton, #getLatLonButton {
    width: 270px !important
}

#foot_wu {
    width  : 40%;
    height : auto;
}
   
.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

#search_block {
    float: left;
    position: relative;
    display: inline-block;
}

#container {
    margin-top: 30px;
}

#wind_div {
    margin-top: 10px;
}

#wind_div, #humidity_div {
    font-size: 12px;
}