div.ui-input-search {
    width: 200px !important
}

#searchCityButton {
    width: 175px !important
}

#getLatLonButton {
    width: 270px !important
}

#foot_wu {
    width  : 40%;
    height : auto;
}
   
.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

#container {
    text-align: center;
}